mixin menu-sub(menu, index = 0)
  ul.menu.menu-sub(class=index?`menu-sub-${index + 1}`:'')
    each item in menu
      li.menu-item(class=item.submenu?'menu-item-group':'')
        a.menu-link(href=item.url)= item.text
        if (item.submenu)
          span.menu-toggle
          +menu-sub(item.submenu, index + 1)

mixin menu(menu)
  ul.menu.menu-root
    each item in menu
      if (item.isMega)
        li.menu-item.menu-item-mega
          a.menu-link(href=item.url, class=item.active?'active':'')= item.text
          span.menu-toggle
          .menu-mega
            .mega.menu.menu-sub
              each item in ['Quản lý và báo cáo', 'Quản lý hỗ trợ']
                .mega__group
                  .mega__label= item
                  .row.g-20
                    - for(let i = 0; i < 4; i++)
                      .col-xl-4
                        a.mega__item(href="#!", data-img=`./images/menu-img-${i + 1}.png`)
                          .row.align-items-center.g-2
                            .col-auto
                              img.mega__icon(src="./images/icon-ads-search.svg", alt="")
                            .col
                              .mega__title Ads Check by SMIT
                              .mega__subtitle Xem & quản lý TKQC
              img.mega__img(src="./images/menu-img-1.png", alt="")

      else
        li.menu-item(class=item.submenu?'menu-item-group':'')
          a.menu-link(href=item.url, class=item.active?'active':'')
            if (item.hasIcon)
              i.fa.fa-fw.fa-lg.fa-home
            else
              = item.text
          if (item.submenu)
            span.menu-toggle
            +menu-sub(item.submenu)

mixin menu-float
  ul.menu.menu-float
    each item in menu
      if (item.isMega)
        li.menu-item.menu-item-mega
          a.menu-link(href=item.url, class=item.active?'active':'')= item.text
          span.menu-toggle
          .menu-mega
            .mega
              each item in ['Quản lý và báo cáo', 'Quản lý hỗ trợ']
                .mega__group
                  .mega__label Quản lý và báo cáo
                  .row.g-20
                    - for(let i = 0; i < 4; i++)
                      .col-xl-4
                        a.mega__item(href="#!")
                          .row.align-items-center
                            .col-auto
                              img.mega__icon(src="./images/icon-abc.svg", alt="")
                            .col
                              .mega__title Ads Check by SMIT
                              .mega__subtitle Xem & quản lý TKQC

      else
        li.menu-item(class=item.submenu?'menu-item-group':'')
          a.menu-link(href=item.url, class=item.active?'active':'')
            if (item.hasIcon)
              i.fa.fa-fw.fa-lg.fa-home
            else
              = item.text
          if (item.submenu)
            span.menu-toggle
            +menu-sub(item.submenu)
