mixin menu-sub(menu, index = 0, label='')
  ul.menu.menu-sub(class=index?`menu-sub-${index + 1}`:'', data-label=label)
    each item in menu
      li.menu-item(class=item.submenu?'menu-item-group':'')
        a.menu-link(href=item.url)= item.text
        if (item.submenu)
          span.menu-toggle
          +menu-sub(item.submenu, index + 1, label ? item.text : '')

mixin menu(menu)
  ul.menu.menu-root
    each item in menu
      if (item.isMega)
        li.menu-item.menu-item-mega
          a.menu-link(href=item.url, class=item.active?'active':'')= item.text
          span.menu-toggle
          .menu-mega
            +menu-sub(item.submenu, 0, item.text)
      else
        li.menu-item(class=item.submenu?'menu-item-group':'')
          a.menu-link(href=item.url, class=item.active?'active':'')
            if (item.hasIcon)
              i.fa.fa-fw.fa-lg.fa-home
            else
              = item.text
          if (item.submenu)
            span.menu-toggle
            +menu-sub(item.submenu)

mixin menu-float
  ul.menu.menu-float
    each item in menu
      if (item.isMega)
        li.menu-item.menu-item-mega
          a.menu-link(href=item.url, class=item.active?'active':'')= item.text
          span.menu-toggle
          .menu-mega
            +menu-sub(item.submenu, 0, item.text)
      else
        li.menu-item(class=item.submenu?'menu-item-group':'')
          a.menu-link(href=item.url, class=item.active?'active':'')
            if (item.hasIcon)
              i.fa.fa-fw.fa-lg.fa-home
            else
              = item.text
          if (item.submenu)
            span.menu-toggle
            +menu-sub(item.submenu)

mixin as-menu
  nav.as-menu.mb-30
    .as-menu__title
      i.fal.fa-fw.fa-bars.me-10
      | Danh mục
    ul.menu.menu-aside
      each item in ["Rau củ","Trái cây","Thịt gia súc gia cầm","Ngũ cốc, gia vị","Hải sản","Đồ uống"]
        li.menu-item.menu-item-group
          a.menu-link(href="#!")= item
          span.menu-toggle
          ul.menu.menu-sub
            each item2 in ["Vật tư nông nghiệp","Sản phẩm OCOP","Đặc sản vùng miền","Thời trang – Phụ kiện nữ","Thời trang – Phụ kiện nam"]
              li.menu-item
                a.menu-link(href="#!")= item2
