mixin preview-slider
  .preview-slider
    .preview-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin thumb-slider
  .thumb-slider
    .thumb-slider__prev
      i.fa.fa-angle-left
    .thumb-slider__next
      i.fa.fa-angle-right
    .thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin preview
  article.preview
    .preview__main
      +preview-slider
    .preview__thumbs
      +thumb-slider

mixin swiper(el, number, hasNav, hasPaging)
  div(class=el)
    if (hasNav)
      div(class=el + '__prev')
        i.fa.fa-angle-left
      div(class=el + '__next')
        i.fa.fa-angle-right
    if (hasPaging)
      div(class=el + '__pagination')
    .swiper-container(class=el + '__container')
      .swiper-wrapper
        - for(let i = 0; i < number; i++)
          .swiper-slide
            block

mixin banner-slider
  .banner-slider
    .banner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 3; i++)
          .swiper-slide
            a.banner-slider__frame(href="#!")
              img(src="./images/banner-slide.jpg", alt="")

mixin partner-slider
  .partner-slider
    .partner-slider__prev
      i.fa.fa-angle-left
    .partner-slider__next
      i.fa.fa-angle-right
    .partner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            a.partner-slider__frame(href="#!")
              //- img(src=`./images/partner-${i + 1}.png`, alt="")
              +img

mixin news-slider
  .news-slider
    .news-slider__prev
      i.fal.fa-arrow-left
    .news-slider__next
      i.fal.fa-arrow-right
    .news-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            +news-3

mixin news-slider-2
  .news-slider-2
    .news-slider-2__prev
      i.fal.fa-arrow-left
    .news-slider-2__next
      i.fal.fa-arrow-right
    .news-slider-2__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            .row.g-3.g-lg-30
              .col-12
                +news-4
              .col-12
                +news-4

mixin news-slider-3
  .news-slider-3
    .news-slider-3__prev
      i.fal.fa-arrow-left
    .news-slider-3__next
      i.fal.fa-arrow-right
    .news-slider-3__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 3; i++)
          .swiper-slide
            +news-2

mixin event-slider
  .event-slider
    .event-slider__prev
      i.fal.fa-arrow-left
    .event-slider__next
      i.fal.fa-arrow-right
    .event-slider__container.swiper-container
      .swiper-wrapper
        each item, index in ["10/2022","06/2022","09/2022","06/2022","09/2022","09/2022"]
          .swiper-slide
            +event-2(item)

mixin brand-slider
  .brand-slider
    .brand-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 9; i++)
          .swiper-slide
            .banner-slider__frame
              img(src=`./images/brand-${i + 1}.png`, alt="")
    .brand-slider__prev
      i.fal.fa-lg.fa-angle-left
    .brand-slider__next
      i.fal.fa-lg.fa-angle-right

mixin noti-slider
  .noti-slider
    .noti-slider__title Thông báo
    .noti-slider__prev
      i.fal.fa-arrow-left
    .noti-slider__next
      i.fal.fa-arrow-right
    .noti-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            .noti-slider__item
              a(href="#!") Phi-líp-pin quyết định không áp dụng thuế tự vệ đối với hạt nhựa HDPE của Việt Nam
