mixin preview-slider
  .preview-slider
    .preview-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin thumb-slider
  .thumb-slider
    .thumb-slider__prev
      i.fa.fa-angle-left
    .thumb-slider__next
      i.fa.fa-angle-right
    .thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin preview
  article.preview
    .preview__main
      +preview-slider
    .preview__thumbs
      +thumb-slider

mixin swiper(el, number, hasNav, hasPaging)
  div(class=el)
    if (hasNav)
      div(class=el + '__prev')
        i.fa.fa-angle-left
      div(class=el + '__next')
        i.fa.fa-angle-right
    if (hasPaging)
      div(class=el + '__pagination')
    .swiper-container(class=el + '__container')
      .swiper-wrapper
        - for(let i = 0; i < number; i++)
          .swiper-slide
            block

mixin banner-slider
  .banner-slider
    .banner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 3; i++)
          .swiper-slide
            a.banner-slider__frame(href="#!")
              img(src="./images/banner-slide.jpg", alt="")

mixin partner-slider
  .partner-slider
    .partner-slider__prev
      i.fa.fa-angle-left
    .partner-slider__next
      i.fa.fa-angle-right
    .partner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            a.partner-slider__frame(href="#!")
              //- img(src=`./images/partner-${i + 1}.png`, alt="")
              +img

mixin feedback-slider
  .feedback-slider
    .feedback-slider__prev
      i.fal.fa-angle-left
    .feedback-slider__next
      i.fal.fa-angle-right
    .feedback-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +feedback

mixin project-slider
  .project-slider
    .project-slider__prev
      i.fal.fa-angle-left
    .project-slider__next
      i.fal.fa-angle-right
    .project-slider__container.swiper-container
      .swiper-wrapper
        .swiper-slide
          .project
            .project__frame
              .project__rect
                img(src="./images/project-1.jpg", alt="")
            .project__title NOVAHILLS MŨI NÉ
              br
              | RESORT & VILLAS
            .project__subtitle sa bàn ảo
        .swiper-slide
          .project
            .project__frame
              .project__rect
                img(src="./images/project-2.jpg", alt="")
            .project__title WYNDHAM PHÚ QUỐC
            .project__subtitle VR tour
        .swiper-slide
          .project
            .project__frame
              .project__rect
                img(src="./images/project-3.jpg", alt="")
            .project__title vhs-ecopark
            .project__subtitle VR tour 360

mixin card-slider
  .card-slider
    .card-slider__pagination
    .card-slider__pagination
    .card-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            +card-1('./images/card-1-1.jpg', 'VR 360 Tour')
          .swiper-slide
            +card-1('./images/card-1-2.jpg', 'VR 360 Store')
          .swiper-slide
            +card-1('./images/card-1-3.jpg', 'VR 360 Event')

mixin solution-slider
  .solution-slider
    .solution-slider__pagination
    .solution-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            +solution('./images/solution-slide-1.png', 'VR 360 TOUR')
          .swiper-slide
            +solution('./images/solution-slide-2.png', 'VR 360 STORE')
          .swiper-slide
            +solution('./images/solution-slide-3.png', 'VR 360 EVENT')

mixin card-slider-2
  .card-slider-2
    .card-slider-2__pagination
    .card-slider-2__pagination
    .card-slider-2__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            +card-1('./images/card-1-4.jpg', 'Thực tế ảo cho trường học', 'Ứng dụng')
          .swiper-slide
            +card-1('./images/card-1-5.jpg', 'Thực tế ảo cho khu công nghiệp', 'Ứng dụng')
          .swiper-slide
            +card-1('./images/card-1-6.jpg', 'CÔNG NGHỆ THỰC TẾ ẢO CHO BẤT ĐỘNG SẢN', 'Ứng dụng')

mixin solution-slider-2
  .solution-slider-2
    .solution-slider-2__pagination
    .solution-slider-2__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            +solution('./images/solution-slide-4.png', 'Thực tế ảo cho trường học', true)
          .swiper-slide
            +solution('./images/solution-slide-5.png', 'Thực tế ảo cho khu công nghiệp', true)
          .swiper-slide
            +solution('./images/solution-slide-6.png', 'CÔNG NGHỆ THỰC TẾ ẢO CHO BẤT ĐỘNG SẢN', true)
