mixin preview-slider
  .preview-slider
    img.preview-slider__qr(src="./images/qrcode.png", alt="")
    .preview-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .preview-slider__frame
              img(src=`./images/product-${i % 4 + 1}.jpg`, alt="")

mixin thumb-slider
  .thumb-slider
    .thumb-slider__prev
      i.fal.fa-angle-left
    .thumb-slider__next
      i.fal.fa-angle-right
    .thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .thumb-slider__frame
              img(src=`./images/product-${i % 4 + 1}.jpg`, alt="")

mixin preview
  article.preview
    .preview__main
      +preview-slider
    .preview__thumbs
      +thumb-slider

mixin swiper(el, number, hasNav, hasPaging)
  div(class=el)
    if (hasNav)
      div(class=el + '__prev')
        i.fa.fa-angle-left
      div(class=el + '__next')
        i.fa.fa-angle-right
    if (hasPaging)
      div(class=el + '__pagination')
    .swiper-container(class=el + '__container')
      .swiper-wrapper
        - for(let i = 0; i < number; i++)
          .swiper-slide
            block

mixin banner-slider
  section.banner-slider
    .banner-slider__prev
      i.fal.fa-angle-left
    .banner-slider__next
      i.fal.fa-angle-right
    .banner-slider__nav
      .container
        .banner-slider__nav-inner
          .banner-slider__pagination
    .banner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            .banner-slider__frame
              img(src="./images/banner-slide.jpg", alt="")
            .banner-slider__body
              .container
                .banner-slider__content
                  .banner-slider__title Hệ thống quản lý
                    br
                    | truy xuất nguồn gốc
                  .banner-slider__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum aliquam sapien, ac placerat turpis accumsan vel.
                  a.banner-slider__btn(href="#!") Chi tiết
          .swiper-slide
            .banner-slider__frame
              img(src="https://via.placeholder.com/1900x500", alt="")
            .banner-slider__body
              .container
                .banner-slider__content
                  .banner-slider__title Lorem ipsum dolor
                    br
                    | amet consectetur
                  .banner-slider__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum aliquam sapien, ac placerat turpis accumsan vel.
                  a.banner-slider__btn(href="#!") Chi tiết

mixin banner-slider-2
  section.banner-slider-2
    .container
      .banner-slider-2__inner
        .banner-slider-2__prev
        .banner-slider-2__next
        .banner-slider-2__container.swiper-container
          .swiper-wrapper
            - for(let i = 0; i < 4; i++)
              .swiper-slide
                img.d-block.w-100(src="./images/banner-slide-2.jpg", alt="")

mixin banner-slider-3
  section.banner-slider-3
    .banner-slider-3__prev
    .banner-slider-3__next
    .banner-slider-3__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            img.d-block.w-100(src="./images/banner-slide-3.png", alt="")

mixin partner-slider
  .partner-slider
    .partner-slider__prev
      i.fa.fa-angle-left
    .partner-slider__next
      i.fa.fa-angle-right
    .partner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            a.partner-slider__frame(href="#!")
              //- img(src=`./images/partner-${i + 1}.png`, alt="")
              +img

mixin source-slider
  .source-slider
    .source-slider__prev
      i.fal.fa-lg.fa-angle-left
    .source-slider__next
      i.fal.fa-lg.fa-angle-right
    .source-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 10; i++)
          .swiper-slide
            +source(`./images/product-${i%4 + 1}.jpg`)

mixin video-slider
  .video-slider
    .video-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            +video(`./images/video-${i % 4 + 1}.jpg`)

mixin video-thumb-slider
  .video-thumb-slider
    .video-thumb-slider__prev
      i.fal.fa-lg.fa-arrow-left
    .video-thumb-slider__next
      i.fal.fa-lg.fa-arrow-right
    .video-thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 4; i++)
          .swiper-slide
            .video-thumb-slider__frame
              img(src=`./images/video-${i % 4 + 1}.jpg`, alt="")

mixin product-slider
  .product-slider
    .product-slider__prev
      i.fal.fa-angle-left
    .product-slider__next
      i.fal.fa-angle-right
    .product-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +product-2(`./images/product-${i % 4 + 1}.jpg`, 'Sản phẩm 01', 'product--2')

mixin news-slider
  .news-slider
    .news-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +news(`./images/news-${i % 4 + 1}.jpg`, 'Quy định về quy tắc xuất xứ hàng hóa trong Hiệp định Thương mại tự do', '')
    .news-slider__nav
      .news-slider__prev
        i.fal.fa-angle-left
      .news-slider__next
        i.fal.fa-angle-right
      +n-link('#!', 'ms-auto')

mixin news-slider-2
  .news-slider-2
    .news-slider-2__container.swiper-container
      .swiper-wrapper
        each item, i in ['Cơ sở sản xuất dưa lưới Lộc Phúc', 'HTX Rau An toàn Hà Nam', 'HTX chế biến nông sản Lụa Vy', 'HTX môi trường và DVTH xã Đức Liên']
          .swiper-slide
            +news-2-2(`./images/coso-${i + 1}.jpg`, item)
    .news-slider-2__nav
      .news-slider-2__prev
        i.fal.fa-angle-left
      .news-slider-2__next
        i.fal.fa-angle-right
      +n-link('#!', 'ms-auto')
