mixin preview-slider
  .preview-slider
    .preview-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin thumb-slider
  .thumb-slider
    .thumb-slider__prev
      i.fa.fa-angle-left
    .thumb-slider__next
      i.fa.fa-angle-right
    .thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-3x2
              img(src=`http://placekitten.com/1000/75${i}`, alt="")

mixin preview
  article.preview
    .preview__main
      +preview-slider
    .preview__thumbs
      +thumb-slider

mixin swiper(el, number, hasNav, hasPaging)
  div(class=el)
    if (hasNav)
      div(class=el + '__prev')
        i.fa.fa-angle-left
      div(class=el + '__next')
        i.fa.fa-angle-right
    if (hasPaging)
      div(class=el + '__pagination')
    .swiper-container(class=el + '__container')
      .swiper-wrapper
        - for(let i = 0; i < number; i++)
          .swiper-slide
            block

mixin product-slider(addClass='')
  .product-slider(class=addClass)
    .product-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            .product-slider__frame
              img(src=`./images/product-1.png`, alt="")
          .swiper-slide
            .product-slider__frame
              img(src=`./images/product-2.png`, alt="")
          .swiper-slide
            .product-slider__frame
              img(src=`./images/product-3.png`, alt="")
    .product-slider__nav
      .product-slider__name
        span.product-slider__size
          span 1.3 lít
        span.product-slider__title DR-1355 TS
      .product-slider__pagination
      a.product-slider__btn-3d(href="#!") 3D
