mixin preview-slider
  .preview-slider
    .preview-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            a.ratio.ratio-1x1(href=`./images/product-${i + 1}.jpg`, data-fancybox="product")
              img(src=`./images/product-${i + 1}.jpg`, alt="")

mixin thumb-slider
  .thumb-slider
    .thumb-slider__prev
      i.fa.fa-angle-left
    .thumb-slider__next
      i.fa.fa-angle-right
    .thumb-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide.bg-white
            .ratio.ratio-1x1
              img(src=`./images/product-${i + 1}.jpg`, alt="")

mixin preview
  article.preview
    .preview__main
      +preview-slider
    .preview__thumbs
      +thumb-slider

mixin swiper(el, number, hasNav, hasPaging)
  div(class=el)
    if (hasNav)
      div(class=el + '__prev')
        i.fa.fa-angle-left
      div(class=el + '__next')
        i.fa.fa-angle-right
    if (hasPaging)
      div(class=el + '__pagination')
    .swiper-container(class=el + '__container')
      .swiper-wrapper
        - for(let i = 0; i < number; i++)
          .swiper-slide
            block

mixin banner-slider
  .banner-slider
    .banner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 3; i++)
          .swiper-slide
            a.banner-slider__frame(href="#!")
              img(src="./images/banner-slide.jpg", alt="")

mixin partner-slider
  .partner-slider
    .partner-slider__prev
      i.fa.fa-angle-left
    .partner-slider__next
      i.fa.fa-angle-right
    .partner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            a.partner-slider__frame(href="#!")
              //- img(src=`./images/partner-${i + 1}.png`, alt="")
              +img

mixin product-slider
  .product-slider
    .product-slider__prev
      i.fal.fa-angle-left
    .product-slider__next
      i.fal.fa-angle-right
    .product-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 8; i++)
          .swiper-slide
            +product

mixin product-slider-3
  .product-slider-3
    .product-slider-3__pagination
    .product-slider-3__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +product-3

mixin cate-slider
  .cate-slider
    .cate-slider__prev
      i.fal.fa-angle-left
    .cate-slider__next
      i.fal.fa-angle-right
    .cate-slider__container.swiper-container
      .swiper-wrapper
        .swiper-slide
          +cate('./images/cate-1.png')
            | Đồ nội thất
        .swiper-slide
          +cate('./images/cate-2.png')
            | Thời trang
            br
            | Phụ kiện nữ
        .swiper-slide
          +cate('./images/cate-3.png')
            | Thời trang
            br
            | Phụ kiện nam
        .swiper-slide
          +cate('./images/cate-4.png')
            | Sách & Nhạc cụ
        .swiper-slide
          +cate('./images/cate-5.png')
            | Văn phòng phẩm
            br
            | & Thủ công
        .swiper-slide
          +cate('./images/cate-6.png')
            | Phụ kiện
            br
            | điện tử
        .swiper-slide
          +cate('./images/cate-7.png')
            | Sức khỏe
            br
            | làm đẹp
        .swiper-slide
          +cate('./images/cate-8.png')
            | Đồ chơi
            br
            | giáo dục
        .swiper-slide
          +cate('./images/cate-1.png')
            | Sức khỏe
            br
            | làm đẹp
        .swiper-slide
          +cate('./images/cate-2.png')
            | Đồ nội thất
        .swiper-slide
          +cate('./images/cate-3.png')
            | Phụ kiện
            br
            | điện tử
        .swiper-slide
          +cate('./images/cate-4.png')
            | Đồ chơi
            br
            | giáo dục
        .swiper-slide
          +cate('./images/cate-5.png')
            | Thời trang
            br
            | Phụ kiện nữ
        .swiper-slide
          +cate('./images/cate-6.png')
            | Sách & Nhạc cụ
        .swiper-slide
          +cate('./images/cate-7.png')
            | Văn phòng phẩm
            br
            | & Thủ công
        .swiper-slide
          +cate('./images/cate-8.png')
            | Thời trang
            br
            | Phụ kiện nam
        .swiper-slide
          +cate('./images/cate-3.png')
            | Phụ kiện
            br
            | điện tử
        .swiper-slide
          +cate('./images/cate-4.png')
            | Đồ chơi
            br
            | giáo dục
        .swiper-slide
          +cate('./images/cate-5.png')
            | Thời trang
            br
            | Phụ kiện nữ
        .swiper-slide
          +cate('./images/cate-6.png')
            | Sách & Nhạc cụ
        .swiper-slide
          +cate('./images/cate-7.png')
            | Văn phòng phẩm
            br
            | & Thủ công
        .swiper-slide
          +cate('./images/cate-8.png')
            | Thời trang
            br
            | Phụ kiện nam

mixin card-slider
  .card-slider
    .card-slider__pagination
    .card-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +card

mixin card-slider-2
  .card-slider-2
    .card-slider-2__pagination
    .card-slider-2__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 6; i++)
          .swiper-slide
            +card

mixin banner-slider
  .banner-slider
    .banner-slider__pagination
    .banner-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 2; i++)
          .swiper-slide
            a.banner-slider__frame(href="#!")
              img(src="./images/banner-slide.jpg", alt="")
          .swiper-slide
            a.banner-slider__frame(href="#!")
              img(src="./images/banner-slide-2.jpg", alt="")

mixin branding-slider
  .branding-slider
    .branding-slider__prev
      i.fal.fa-angle-left
    .branding-slider__next
      i.fal.fa-angle-right
    .branding-slider__container.swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 8; i++)
          .swiper-slide
            +branding(`./images/cat-${i % 8 + 1}.jpg`)
