mixin login(isError = false)
  form.md-form(action="#!")
      .md-form__title Đăng nhập
      .d-flex.justify-content-center.mb-4
        a.d-inline-flex.me-4.me-xl-40(href="#!")
          img(src="./images/icon-facebook.png", height="56", alt="")
        a.d-inline-flex(href="#!")
          img(src="./images/icon-google.png", height="56", alt="")
      .md-form__desc.mb-4 hoặc đăng nhập bằng email của bạn
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="email", placeholder="Email")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Email không tồn tại
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="password", placeholder="Mật khẩu")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Sai mật khẩu
      .mb-3.text-center
        a.md-form__link.js-switch-modal(href=".md-reset-password") Quên mật khẩu
      .my-30.d-flex.justify-content-center
        button.button(type="submit") Đăng nhập
      .md-form__footer Bạn chưa có tài khoản? #[a.js-switch-modal(href=".md-register") Tạo tài khoản mới]

mixin login-success
  form.md-form(action="#!", style="max-width: 460px;")
    .md-form__icon
      i.fal.fa-lg.fa-check-circle
    .md-form__title.mb-3 Bạn đã đăng nhập thành công!
    .md-form__desc Điểm số của bạn sẽ được lưu trên hệ thống.
    .my-30.d-flex.justify-content-center
      button.button(type="submit") Tiếp tục khám phá

mixin register(isError = false)
  form.md-form(action="#!")
      .md-form__title Tạo tài khoản mới
      .md-form__group
        input.form-control(type="text", placeholder="Tên")
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="email", placeholder="Email")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Email đã tồn tại
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="password", placeholder="Mật khẩu")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Mật khẩu không khớp
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="password", placeholder="Nhập lại mật khẩu")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Mật khẩu không khớp
      .my-30.d-flex.justify-content-center
        button.button(type="submit") Đăng ký
      .md-form__footer Bạn đã có tài khoản? #[a.js-switch-modal(href=".md-login") Đăng nhập]

mixin reset-password(isSuccess = false, isError = false)
  form.md-form(action="#!")
      .md-form__title Đặt lại mật khẩu
      .md-form__desc Nhập email được liên kết với tài khoản của bạn và chúng tôi sẽ gửi email có hướng dẫn để đặt lại mật khẩu của bạn.
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="email", placeholder="Email", value=isSuccess?'xxxx@gmail.com':'')
        if (isSuccess)
          .md-form__success
            i.fal.fa-check-circle.me-2
            | Đã gửi
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Email không tồn tại
      .my-30.d-flex.justify-content-center
        button.button(type="submit") Gửi yêu cầu
      if (isSuccess)
        .md-form__footer Chưa nhận được email? #[a(href="#!") Gửi lại]

mixin new-password(isError = false)
  form.md-form(action="#!")
      .md-form__title Tạo mật khẩu mới
      .md-form__desc Mật khẩu mới của bạn phải khác với mật khẩu cũ.
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="password", placeholder="Mật khẩu mới")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Mật khẩu không khớp
      .md-form__group(class=isError?'is-error':'')
        input.form-control(type="password", placeholder="Nhập lại mật khẩu")
        if (isError)
          .md-form__error
            i.fal.fa-times-circle.me-2
            | Mật khẩu không khớp
      .my-30.d-flex.justify-content-center
        button.button(type="submit") Xác nhận

mixin new-password-success
  form.md-form(action="#!")
      .md-form__icon
        i.fal.fa-lg.fa-check-circle
      .md-form__title Đặt lại mật khẩu thành công
      .my-30.d-flex.justify-content-center
        button.button(type="submit") Tiếp tục đăng nhập

mixin quiz-begin
  .modal-title.mb-4.mb-xl-40.mb-xxl-60 Minigame: Quiz
  .row
    .col-4
      .quiz-info
        .quiz-info__icon
          img(src="./images/icon-question-square.svg", alt="")
        .quiz-info__label Tìm & trả lời
          br
          | 11 câu hỏi
    .col-4
      .quiz-info
        .quiz-info__icon
          img(src="./images/icon-stopwatch.svg", alt="")
        .quiz-info__label 10 phút
          br
          | trắc nghiệm
    .col-4
      .quiz-info
        .quiz-info__icon
          img(src="./images/icon-medal.svg", alt="")
        .quiz-info__label Đúng 11/11
          br
          | để nhận quà
  .modal-button-group
    button.button.js-quiz-start(type="button", data-target=".md-login") Bắt đầu

mixin quiz-question
  .js-quiz(data-time-limit="10")
    //- .quiz
    //-   .quiz__title.modal-title Câu hỏi số 1
    //-   .quiz__question Thẻ BIDV Visa Infinite được hoàn tiền tới bao nhiêu % tại lĩnh vực Golf/Spa/Resort nước ngoài?
    //-   .quiz__answers
    //-     label.quiz__answer.is-correct(data-key="A")
    //-       input(type="radio", name="quiz")
    //-       span A. 6%
    //-     label.quiz__answer(data-key="B")
    //-       input(type="radio", name="quiz")
    //-       span B. 5%
    //-     label.quiz__answer(data-key="C")
    //-       input(type="radio", name="quiz")
    //-       span C. 7%
    //-     label.quiz__answer.is-incorrect(data-key="D")
    //-       input(type="radio", name="quiz")
    //-       span D. 8%
    //-   .quiz__info
    //-     div Câu hỏi đã trả lời:&nbsp;
    //-       span.text-warning 0/11
    //-     div Thời gian:&nbsp;
    //-       span.text-wraning 1:17 /15 phút

mixin quiz-result
  .quiz-result
    .modal-title Xin chúc mừng!
      br
      | Bạn đã trả lời đúng #[span.text-warning 11/11] câu hỏi
    .quiz-result__score +30 điểm
    .modal-button-group
      button.button(type="button") Tiếp tục

mixin puzzle
  .puzzle.js-puzzle
    .puzzle__body
      .puzzle__wrapper
        .puzzle__inner
          .cell.cell--empty(class=`cell--0`, data-index=0)
            .cell-caret.cell-caret--top
            .cell-caret.cell-caret--bottom
            .cell-caret.cell-caret--left
            .cell-caret.cell-caret--right
          .cell(class=`cell--1`, data-index=1)
          .cell(class=`cell--2`, data-index=2)
          .cell(class=`cell--3`, data-index=3)
          .cell(class=`cell--4`, data-index=4)
          .cell(class=`cell--5`, data-index=5)
          .cell(class=`cell--6`, data-index=6)
          .cell(class=`cell--7`, data-index=7)
          .cell(class=`cell--8`, data-index=8)
          .cell(class=`cell--9`, data-index=9)
          .cell(class=`cell--10`, data-index=10)
          .cell(class=`cell--11`, data-index=11)
          .puzzle__lock
            .puzzle__lock-inner
              button.button.puzzle__start.js-puzzle-start(type="button") Bắt đầu
              button.button.puzzle__end(type="button") Kết thúc
          .puzzle__board
            .puzzle__type Minigame
            .puzzle__name Ghép hình thẻ
            .puzzle__time Còn lại:&nbsp;
              span.puzzle__remaining
                | 60s
    .puzzle__footer
      a.puzzle__link.js-switch-modal(href=".md-puzzle-guide")
        i.fal.fa-question-circle.me-2
        | Hướng dẫn

mixin puzzle-result
  .js-puzzle-result

mixin puzzle-guide
  .js-puzzle-guide
    .modal-title Minigame Ghép hình thẻ
    .modal-desc.text-start
      ul
        li.mt-3 Trong 60 giây, bạn phải di chuyển các mảnh ghép để xếp được đúng hình ảnh hoàn chỉnh của thẻ BIDV
        li.mt-3 Nếu hoàn thành trong 60 giây, bạn sẽ có cơ hội mở khóa Game 2 & 3 để chơi và nhận những phần thưởng hấp dẫn.
        li.mt-3 Nếu không hoàn thành trong 60 giây, bạn sẽ phải chơi lại
      .modal-button-group
        button.button.js-puzzle-continue(type="button") Quay lại

mixin puzzle-error
  .js-puzzle-error
    .modal-title Oops,
    .modal-desc Bạn đã hết lượt chơi lại
    .modal-button-group
      button.button(type="button") Đóng

mixin survey-result
  .js-survey-result

mixin card-game-intro
  .card-game-intro
    .modal-title Minigame: Tìm thẻ trong thành phố
    .row.g-3.align-items-center.mt-4
      .col-lg-8
        img(src="./images/card-game-map.svg", alt="")
      .col-lg-4
        .card-game-intro__item
          .card-game-intro__icon
            img(src="./images/icon-envelope.svg", alt="")
          .card-game-intro__text Tìm thẻ
            br
            | qua mật thư
        .card-game-intro__item
          .card-game-intro__icon
            img(src="./images/icon-stopwatch.svg", alt="")
          .card-game-intro__text 15 phút
            br
            | tìm kiếm
        .card-game-intro__item
          .card-game-intro__icon
            img(src="./images/icon-medal.svg", alt="")
          .card-game-intro__text Tìm càng nhiều
            br
            | điểm càng cao

    .modal-button-group
      button.button.js-switch-modal(type="button", data-target=".md-card-game") Bắt đầu

mixin card-game
  .card-game
    .modal-icon
      img(src="./images/card-game-search-icon.svg", alt="")
    .modal-title Câu hỏi mật thư thứ 1
    .modal-desc Tôi ở tòa nhà có ưu đãi phí rút tiền chỉ từ 1%
    .modal-button-group
      button.button.js-switch-modal(type="button", data-target=".md-card-game-result") Bắt đầu tìm kiếm

mixin card-game-result
  .card-game
    .modal-title Xin chúc mừng!
    .modal-subtitle Bạn đã tìm được #[span.text-warning 11/11] tấm thẻ được ẩn giấu
    .modal-point +60 điểm
    .modal-button-group
      button.button.js-card-game-finish(type="button") Tiếp tục

mixin game-form
  form.md-form
    .modal-title Thông tin nhận thưởng
    .md-form__group(class=isError?'is-error':'')
      .md-form__label Số CCCD/Hộ chiếu
        span.text-danger *
      input.form-control(type="number", placeholder="xxxxxxxxxxxx", required)
    .md-form__group(class=isError?'is-error':'')
      .md-form__label 6 số cuối tài khoản BIDV
        span.text-danger *
      input.form-control(type="number", placeholder="xxxxxx", required)
    .md-form__group(class=isError?'is-error':'')
      .md-form__label Số điện thoại
        span.text-danger *
      input.form-control(type="number", placeholder="0123456789", required)
    .modal-button-group
      button.button.js-switch-modal(type="button", data-target=".md-game-leaderboard") Gửi thông tin
  .modal-bottom
    p Nếu chưa có tài khoản vui lòng #[a(href="#!") tải ứng dụng SmartBanking] hoặc đến PGD BIDV gần nhất để mở tài khoản nhận thưởng

mixin game-guide
  .game
    .game__header HƯỚNG DẪN CHƠI MINIGAME
    .game__list
      .game__guide
        h3 Thời gian tham gia
        p Từ ngày … đến ngày …. Chương trình được chia làm 4 đợt. Kết quả sẽ được công bố và 17h00 Chủ nhật hàng tuần
        ul
          li Đợt 1:
          li Đợt 2:
          li Đợt 3:
          li Đợt 4:
        h3 Thể lệ tham gia
        ul
          li Người chơi phải chơi lần lượt theo Game 1, 2, 3 để nhận quà
          li Điều kiện để chơi tiếp Game 2 là phải thắng Game 1, trong trường hợp thua Game 1 sẽ phải chơi lại từ đầu
          li Sau khi chơi Game 1, người chơi bắt buộc phải Login để chơi tiếp game 2 + 3.
          li Sau khi chơi xong Game 3, người chơi để lại thông tin gồm SĐT, số CCCD, 6 số cuối tài khoản BIDV (trong trường hợp chưa vui lòng tải app SmartBanking hoặc ra PGD BIDV gần nhất để mở tài khoản)
          li Trong trường hợp điểm chơi thấp, người chơi có thể chọn chế độ chơi lại từ Game 2 để có điểm số cao hơn
        h3 Bảng xếp hạng
        p Mỗi tuần BIDV sẽ trao thưởng cho 203 người chơi có điểm số và thời gian chơi nhanh nhất. Giải thưởng sẽ được gửi thẳng trực tiếp vào Tài khoản BIDV của người chơi. Cơ cấu giải thưởng gồm:
        ul.fw-700
          li 01 Giải Nhất trị giá 200.000 VNĐ
          il 02 Giải Nhì trị giá 150.000 VNĐ
          il 2000 Giải Ba trị giá 100.000 VNĐ
        h3 Giới thiệu các trò chơi
        h4.fw-700 Game 1 - Ghép hình thẻ BIDV
        p 01 hình ảnh thẻ sẽ được cắt thành 9 bức ảnh và bị xáo trộn, người chơi phải di chuyển và xếp lại đúng vị trí để ra được bức ảnh thẻ trong vòng 60s.
        h4.fw-700 Game 2 - Câu hỏi Quiz về thẻ BIDV
        p Trong vòng 5 phút, người chơi phải trả lời đúng 5 câu hỏi với các nội dung xoay quanh các thẻ của BIDV.
        h4.fw-700 Game 3 - Thu thập thẻ trong thành phố
        p Trong vòng 15 phút, người dùng cần thu thập đủ các thẻ trong thành phố. Các mật thư sẽ được hiện lần lượt theo thứ tự và người chơi cần giải và tìm kiếm thẻ theo mật thư được cung cấp.

mixin game-leaderboard
  .game
    .game__header Leaderboard
    .game__list
      - for(let i = 0; i < 10; i++)
        .leaderboard
          .leaderboard__place
            if (i < 3)
              img(src="./images/medal-" + (i+1) + ".svg", alt="")
            else
              = i+1
          .leaderboard__avatar
            img(src="./images/avatar.png", alt="")
          .leaderboard__name Player Name
          .leaderboard__point
            i.fal.fa-star.me-2
            span 60
          .leaderboard__time
            i.fal.fa-clock.me-2
            span 5p30s

mixin play-again
  .game-play-again
    .modal-title Bạn có muốn chơi lại từ đầu không?
    .modal-desc Lưu ý: Bạn sẽ được chơi lại game từ Game 2 & toàn bộ điểm và thời gian sẽ được reset về 0
    .modal-button-group
      button.button.me-4.me-xl-40(type="button") Có
      button.button(type="button") Không

mixin game-result
  .game-result
    .game-result__badge
      img(src="./images/medal-badge.svg", alt="")
    .game-result__title Total score
    .game-result__score 60
    .game-result__time
      i.fal.fa-clock.me-2
      | 5p30s
    .game-result__desc Xin chúc mừng, bạn đã hoàn thành tất cả trò chơi
    .modal-button-group
      button.button.js-switch-modal(type="button", data-target=".md-game-form") Điền thông tin nhận thưởng

mixin upload
  form.js-image-upload(action="#!")
    .modal-title Tải lên hình ảnh của bạn
    +file-input
    .modal-button-group
      button.button(type="submit") Gửi ảnh
    .js-upload-file-alert.fs-12.text-danger.text-center.mt-3.d-none
      i.fal.fa-times-circle.me-2
      | Bạn chưa tải lên đủ 11 ảnh

mixin upload-success
  .modal-icon.text-success
    i.fal.fa-lg.fa-check-circle
  .modal-title Tải lên thành công
  .modal-desc.mx-auto(style="max-width: 493px;") Bài thi của bạn đã được tải lên thành công. Chúng tôi sẽ thông báo kết quả sớm nhất cho bạn thông qua email.
  .modal-button-group
    a.button(href="/") Quay lại Sảnh chính

mixin upload-failed
  .modal-icon.text-danger
    i.fal.fa-lg.fa-times-circle
  .modal-title Tải lên không thành công
  .modal-desc.mx-auto(style="max-width: 493px;") Bài thi của bạn không chưa đạt số lượng tối thiểu.
    br
    | Vui lòng kiểm tra và thử lại.
  .modal-button-group
    button.button.js-switch-modal(type="button", data-target=".md-upload") Thử lại
