mixin service(img='', title='')
  a.service(href="#!")
    .service__frame
      img(src=img, alt="")
    .service__title= title

mixin n-video(img='', url='')
  .n-video
    img.n-video__img(src=img, alt="")
    a.n-video__overlay(href=url, data-fancybox)
      span.n-video__icon
        i.fas.fa-play

mixin feedback
  .feedback
    .feedback__inner
      .feedback__text Qua một người bạn tôi đã biết đến công ty Quang Đức, dưới sự tư vấn nhiệt tình các kĩ thuật viên dày dặn kinh nghiệm cũng như sự chuyên nghiệp của đội ngũ công nhân, tôi hoàn toàn hài lòng khi sử dụng dịch vụ của công ty.
      .feedback__name #[strong Thu Linh] - Doanh nhân
      .feedback__avatar
        img(src="./images/avatar.webp", alt="")

mixin expert
  .expert
    .expert__avatar
      img(src="./images/avatar.webp", alt="")
    .expert__name Phạm Văn Tiệp
    .expert__pos Phó giám đốc sản xuất

mixin faq(question='Tôi có thể đặt lịch bảo dưỡng ô tô tại Garage Quang Đức như thế nào')
  .faq
    .faq__question= question
    .faq__answer
      if (block)
        block
      else
        p
          | 1. Thông qua số hot-line: 0962677726
          br
          | 2. Thông qua website (link đặt lịch)
          br
          | 3. Thông qua Facebook page: https://www.facebook.com/quangduc.com.vn/

mixin news(img='./images/news-1.jpg')
  .news
    .news__frame
      img(src=img, alt="")
    .news__time
      i.fal.fa-calendar-alt.me-2
      | Thứ Mon, 07/03/2022
    h3.news__title
      a(href="#!") Garage phục hồi xe ô tô tai nạn, va chạm tốt nhất tại Hà Nội
    .news__desc Dịch vụ phục hồi xe tai nạn là một trong những dịch vụ mà G arage ô tô Qua...

mixin service-2(img='./images/news-1.jpg')
  .service-2
    .service-2__frame
      img(src=img, alt="")
    h3.service-2__title
      a(href="#!") {2022} BẢNG GIÁ SƠN XE Ô TÔ TẠI GARAGE QUANG ĐỨC
    .service-2__desc 1. Tại sao cần bảo dưỡng xe ô tô định kỳ Bảo dưỡng xe ô tô là bước rất...
    a.service-2__link(href="#!") Xem chi tiết
      i.fal.fa-angle-double-right.ms-2

mixin procedure(img='', title='')
  .procedure
    img.procedure__icon(src=img, alt="")
    .procedure__title=title
