mixin service(img='', title='')
  a.service(href="./products.html")
    .service__frame
      img(src=img, alt="")
    .service__title= title

mixin n-video(img='', url='')
  .n-video
    img.n-video__img(src=img, alt="")
    a.n-video__overlay(href=url, data-fancybox)
      span.n-video__icon
        i.fas.fa-play

mixin feedback
  .feedback
    .feedback__inner
      .feedback__text Qua một người bạn tôi đã biết đến công ty Quang Đức, dưới sự tư vấn nhiệt tình các kĩ thuật viên dày dặn kinh nghiệm cũng như sự chuyên nghiệp của đội ngũ công nhân, tôi hoàn toàn hài lòng khi sử dụng dịch vụ của công ty.
      .feedback__name #[strong Thu Linh] - Doanh nhân
      .feedback__avatar
        img(src="./images/avatar.webp", alt="")

mixin expert
  .expert
    .expert__avatar
      img(src="./images/avatar.webp", alt="")
    .expert__name Phạm Văn Tiệp
    .expert__pos Phó giám đốc sản xuất

mixin faq(question='Tôi có thể đặt lịch bảo dưỡng ô tô tại Garage Quang Đức như thế nào')
  .faq
    .faq__question= question
    .faq__answer
      if (block)
        block
      else
        p
          | 1. Thông qua số hot-line: 0962677726
          br
          | 2. Thông qua website (link đặt lịch)
          br
          | 3. Thông qua Facebook page: https://www.facebook.com/quangduc.com.vn/

mixin news(img='./images/news-1.jpg')
  .news
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__time
      i.fal.fa-calendar-alt.me-2
      | Thứ Mon, 07/03/2022
    h3.news__title
      a(href="./news-detail.html") Garage phục hồi xe ô tô tai nạn, va chạm tốt nhất tại Hà Nội
    .news__desc Dịch vụ phục hồi xe tai nạn là một trong những dịch vụ mà G arage ô tô Qua...

mixin news-2(img='./images/news-1.jpg')
  .news-2
    .row.gy-3.gx-30
      .col-sm-auto
        a.news-2__frame(href="./news-detail.html")
          img(src=img, alt="")
      .col-sm
        h3.news-2__title
          a(href="./news-detail.html") PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI
        .news-2__time
          i.fal.fa-calendar-alt.me-2
          | Thứ Mon, 07/03/2022
        .news-2__desc PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Tư vấn Sửa Chữa Miễn Phí - Tận Tâm Với Khách Hàng - Bảo Hành Uy Tín - Chăm Sóc Trọn Đời - Cạnh Tranh Giá Thành - Thời Gian Nhanh Nhất ... đã làm nên thương hiệu QUANGDUCAUTO

mixin news-3
  .news-3
    .row.g-3
      .col-auto
        a.news-3__frame(href="./news-detail.html")
          img(src="./images/news-1.jpg", alt="")
      .col
        h3.news-3__title
          a(href="./news-detail.html") Garage phục hồi xe ô tô tai nạn, va chạm tốt nhất tại Hà Nội
        .news-3__time
          i.fal.fa-calendar-alt.me-2
          | Thứ Fri, 31/12/2021

mixin service-2(img='./images/news-1.jpg')
  .service-2
    a.service-2__frame(href="./product-detail.html")
      img(src=img, alt="")
    h3.service-2__title
      a(href="./product-detail.html") {2022} BẢNG GIÁ SƠN XE Ô TÔ TẠI GARAGE QUANG ĐỨC
    .service-2__desc 1. Tại sao cần bảo dưỡng xe ô tô định kỳ Bảo dưỡng xe ô tô là bước rất...
    a.service-2__link(href="./product-detail.html") Xem chi tiết
      i.fal.fa-angle-double-right.ms-2

mixin procedure(img='', title='')
  .procedure
    img.procedure__icon(src=img, alt="")
    .procedure__title=title

mixin product
  .product
    a.product__frame(href="./product-detail.html")
      img(src="./images/product-1.jpg", alt="")
    h3.product__name
      a(href="./product-detail.html") Ắc quy ô tô
    .product__price 1,234,567₫
    .product__stars.stars.stars--5
