- count = 1
mixin news(img='./news-1.jpg')
  - count++
  .news.news--1
    .row.g-3.g-md-20.g-xl-30
      .col-sm-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
      .col-sm
        h3.news__title
          a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
        .news__info
          i.fal.fa-clock.text-primary.me-2
          | 03/07/2022
        .news__desc Với mong muốn mang lại cho khách hàng những trải nghiệm tốt nhất, Vietlife không ngừng đẩy mạnh chương trình đào tạo nâng cao trải nghiệm khách ...

mixin news-2(img='./news-1.jpg')
  - count++
  .news.news--2
    a.news__frame(href="./news-detail.html")
      img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
    h3.news__title
      a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
    .news__info
      i.fal.fa-clock.text-primary.me-2
      | 03/07/2022
    .news__desc Với mong muốn mang lại cho khách hàng những trải nghiệm tốt nhất, Vietlife không ngừng đẩy mạnh chương trình đào tạo nâng cao trải nghiệm khách ...

mixin news-3(img='./news-1.jpg')
  - count++
  .news.news--3
    .row.g-3
      .col-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
      .col
        h3.news__title
          a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
        .news__info
          i.fal.fa-clock.text-primary.me-2
          | 03/07/2022

mixin doc(number='01', id='#md-doc-1')
  .doc
    .row.g-3
      .col-auto
        .doc__number= number
      .col
        .row.g-3
          .col
            .doc__title
              a(href="#!", data-bs-toggle="modal", data-bs-target=id) Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh
          .col-sm-auto
            a.doc__btn(href="./images/sample.pdf" download)
              i.fas.fa-download.me-2
              | Tải về

mixin product(addClass='')
  - count++
  .product(class=addClass)
    a.product__frame(href="./product-detail.html")
      img(src=`./images/product-${count % 6 + 1}.jpg`, alt="")
    .product__saleoff
      span 30%
      span.text-white GIẢM
    .product__body
      .product__brands
        img.product__brand.ocop(src="./images/brand-1.png", alt="")
        img.product__brand.spcnnttb(src="./images/brand-2.png", alt="")
      h3.product__title
        a(href="./product-detail.html") Cao cà gai leo Thanh Bình
      .product__price 90.000 ₫
      .product__old-price 120.000đ
      .product__stars
        span.stars.stars--5
        span (23)
      .product__location
        i.fal.fa-map-marker-alt.me-2
        | Thành phố Hà Nội

mixin product-2(img='', title='Chương trình khuyến mại...')
  .product-2
    a.product-2__frame(href="#!")
      img(src=img, alt="")
    h3.product-2__title
      a(href="#!")= title

mixin product-3
  - count++
  a.product-3(href="#!")
    .product-3__frame
      img(src=`./images/product-${count % 6 + 1}.jpg`, alt="")
    h2.product-3__title Đặc sản Yên Bái

mixin branding
  - count++
  .branding
    a.branding__frame(href="#!")
      img(src=`./images/cat-${count % 8 + 1}.jpg`, alt="")

mixin cate(img='', title='')
 a.cate(href="#!")
  .cate__frame
    img(src=img, alt="")
  .cate__title
    if (title)
      = title
    else
      block

mixin card(img='')
  - count++
  - img = img ? img : `./images/card-${count % 4 + 1}.jpg`
  a.card(href="#!")
    img(src=img, alt="")

mixin feedback
  .feedback
    .row.g-12
      .col-auto
        .feedback__avatar
          img(src="./images/avatar.png", alt="")
      .col
        .feedback__name Username
        .stars.stars--5
        .feedback__time 2021-05-12 09:01
        .feedback__content Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
        .feedback__images
          - for(let i = 0; i < 4; i++)
            a.feedback__image(href=`./images/feedback${i + 1}.jpg` data-fancybox="feedback")
              img(src=`./images/feedback${i + 1}.jpg`, alt="")

mixin market
  .market
    a.market__frame(href="#!")
      img(src="https://placehold.jp/300x200.png", alt="")
    h3.market__title
      a(href="#!") Sàn TMĐT Tỉnh Cao Bằng

mixin od-grid
  section.section
    .container
      .od-grid
        .od-grid__aside
          +od-user
          +od-menu('mt-4')

        .od-grid__main
          if (block)
            block

mixin od-user
  .od-user
    .od-user__avatar
      img(src="./images/avatar.png", alt="")
    .od-user__info
      .od-user__name admin_sanviet
      a.od-user__btn(href="./profile.html") Sửa hồ sơ

mixin od-menu(className="")
  nav.od-menu(class=className)
    .od-menu__item
      a.od-menu__link(href="#!")
        i.fal.fa-fw.fa-user
        span Tài khoản của tôi
      ul.od-menu__submenu
        li
          a(href="./profile.html") Hồ sơ
        li
          a(href="./profile-change-password.html") Đổi mật khẩu
        li
          a(href="./profile-place.html") Điểm nhận hàng
    .od-menu__item
      a.od-menu__link.active(href="./order.html")
        i.fal.fa-fw.fa-shopping-cart(style="color: #6BB13E; background-color: #E8EEE7;")
        span Đơn hàng
    .od-menu__item
      a.od-menu__link(href="#!")
        i.fal.fa-fw.fa-comment-alt-dots(style="color: #FF6C2D; background-color: #F5E7E5;")
        span Quản lý nhận xét

mixin od-nav(id=1)
  nav.od-nav
    a.od-nav__item(href="./order.html", class=id==1?'active':'')
      +svg-icon('icon-task-queue', '0 0 18 19')
      span Tất cả
    a.od-nav__item(href="#!", class=id==2?'active':'')
      +svg-icon('icon-clock', '0 0 18 19')
      span Chờ lấy hàng
    a.od-nav__item(href="#!", class=id==3?'active':'')
      +svg-icon('icon-truck', '0 0 17 17')
      span Đang giao hàng
    a.od-nav__item(href="./order-completed.html", class=id==4?'active':'')
      +svg-icon('icon-tick-circle', '0 0 17 17')
      span Hoàn thành
    a.od-nav__item(href="#!", class=id==5?'active':'')
      +svg-icon('icon-undo', '0 0 18 15')
      span Trả hàng
    a.od-nav__item(href="#!", class=id==6?'active':'')
      +svg-icon('icon-tag-cross', '0 0 18 15')
      span Huỷ hàng

mixin od-item
  .od-item
    a.od-item__frame(href="#!")
      img(src="./images/order-item-img.jpg", alt="")
    .od-item__info
      div
        a(href="#!")
          strong Chao môn ngon Hưng Phát size nhỏ 200g
      div x2
    .od-item__price 70.000 ₫

mixin od-section(badge='Hoàn thành', badgeClass='text-success bg-success-light', btn='Xem đánh giá', btnClass='btn-outline', note='Ghi chú: Ship hàng vào giờ hành chính', btnLink='#!')
  section.od-section.mt-4
    .od-section__header
      .od-section__icon
        i.fal.fa-fw.fal-lg.fa-store
      .od-section__title-wrap
        h2.od-section__title
          a.od-section__title-link(href="./order-detail.html") Cơ sở sản xuất miến dong Chiến Thọ
          a.badge.text-secondary.border-secondary(href="#!") Sàn Long An
      .od-section__badge
        span.badge.ms-auto(class=badgeClass)=badge

    .od-section__body
      - for(let i = 0; i < 2; i++)
        +od-item

    .od-section__footer
      .od-section__btns
        a.btn.px-30(href=btnLink, class=btnClass)= btn
      .text-sm-end
        span.me-3 Tổng số tiền (2 sản phẩm):
        strong 140.000 ₫
        if (note)
          .od-section__note
            i.fal.fa-fw.fa-clipboard-list.me-2.text-primary
            i= note

mixin od-summary(className='')
  section.od-section(class=className)
    .od-section__body
      .row.justify-content-between.gx-3
        .col-auto Tổng số tiền (2 sản phẩm):
        .col-auto.text-end 450.000 ₫

      .row.justify-content-between.gx-3.mt-3
        .col-auto Tổng giảm
        .col-auto.text-end -245.000 ₫

      .row.justify-content-between.gx-3.mt-3
        .col-auto
          div Tổng thanh toán
          div (2 sản phẩm):
        .col-auto.text-end
          .fs-24.text-primary.fw-600(style="line-height: 1.2") 280.000 ₫
          div Tiết kiệm 165.000đ

      .border-top.mt-3

      .row.justify-content-between.gx-3.mt-3.align-items-center
        .col-auto Phương thức thanh toán
        .col-auto.text-end.ms-auto
          select.form-select
            option Thanh toán COD
            option Thanh toán COD
            option Thanh toán COD
            option Thanh toán COD

      .row.justify-content-between.gx-3.mt-3.align-items-center
        .col-auto Trạng thái thanh toán
        .col-auto.text-end
          span.badge.text-primary.bg-primary-light Chưa thanh toán

mixin od-cancel-detail(badge='Đang giao hàng', badgeClass='text-secondary bg-secondary-light')
  section.od-section.mt-3
    .od-section__header
      .od-section__icon
        i.fal.fa-fw.fal-lg.fa-store

      .od-section__title-wrap
        h2.od-section__title
          a.me-12(href="./order-detail.html") Cơ sở sản xuất miến dong Chiến Thọ
          a.badge.text-secondary.border-secondary(href="#!") Sàn Long An

        .od-section__infos
          a.od-section__info(href="mailto:daotao@ecomviet.vn")
            i.fal.fa-fw.fa-envelope.me-2
            span daotao@ecomviet.vn
          a.od-section__info(href="tel:024 2220 5365")
            i.fal.fa-fw.fa-phone.me-2
            span 024 2220 5365
          .od-section__info
            i.fal.fa-fw.fa-map-marker-alt.me-2
            span 25 Ngô Quyền - Quận Hoàn Kiếm - Hà Nội

      .od-section__badge
        span.badge.ms-auto(class=badgeClass)=badge

    .od-section__body
      - for(let i = 0; i < 6; i++)
        +od-item

  +od-summary('mt-3')

mixin media-uploader
  .media-uploader.js-media-uploader
    .media-uploader__item
      label.media-uploader__label
        input.js-media-image-input(type="file", multiple, accept="image/*")
        i.fal.fa-fa.fa-lg.fa-camera
        span Thêm hình ảnh
    .media-uploader__item
      label.media-uploader__label
        input.js-media-video-input(type="file", multiple, accept="video/*")
        i.fal.fa-fa.fa-lg.fa-video
        span Thêm video

mixin pf-place(className='')
  .pf-place(class=className)
    .row.g-3.justify-content-between
      .col-auto
        .mb-1 #[strong Hà Thu]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#[a(href="tel: 024 2220 5365") 024 2220 5365]
        div 72 trúc khê
          br
          | Phường Kim Giang, Quận Thanh Xuân, Hà Nội
      .col-auto
        .d-flex.flex-wrap.gap-2
          a.btn.btn-sm.btn-outline(href="./profile-place-edit.html") Sửa
          a.btn.btn-sm.btn-outline(href="#!") Xóa
          a.btn.btn-sm.btn-outline(href="#!") Đặt làm mặc định

mixin pf-place-default(className='')
  .pf-place(class=className)
    .row.g-3.justify-content-between
      .col-auto
        .mb-1 #[strong Lê Chí Mạnh]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#[a(href="tel: 024 2220 5365") 024 2220 5365]
        div 6 Lê Văn Thiêm
          br
          | Quận Thanh Xuân, Hà Nội
        .mt-1
          span.badge.text-primary.bg-primary-light.border.border-primary.rounded Mặc định
      .col-auto
        .d-flex.flex-wrap.gap-2
          a.btn.btn-sm.btn-outline(href="./profile-place-edit.html") Sửa
