- count = 0;
mixin product
  - count++
  .product
    a.product__frame(href="#!")
      img(src=`./images/product-${count % 4 + 1}.jpg`, alt="")
    span.product__label Sàn Việt
    .product__body
      .product__brands
        img.product__brand.ocop(src="./images/brand-1.png", alt="")
        img.product__brand.spcnnttb(src="./images/brand-2.png", alt="")
      h3.product__title
        a(href="#!") Nón cỏ bàng thời trang cho nữ
      .product__stars
        span.stars.stars--5
        span (23)
      .row.justify-content-between.g-2
        .col-auto
          .product__price 70.000 ₫
            span.product__discount -30%
          .product__old-price 120.000đ
        .col-auto
          a.product__add-cart(href="#!")
            i.fal.fa-fw.fa-lg.fa-shopping-cart

mixin product-2
  - count++
  .product-2
    a.product-2__frame(href="#!")
      img(src=`./images/product-${count % 4 + 1}.jpg`, alt="")
    span.product__label Sàn Việt
    .product-2__body
      .product-2__brands
        img.product-2__brand.ocop(src="./images/brand-1.png", alt="")
        img.product-2__brand.spcnnttb(src="./images/brand-2.png", alt="")
      h3.product-2__title
        a(href="#!") Nón cỏ bàng thời trang cho nữ
      .product-2__stars
        span.stars.stars--5
        span (23)
      .product-2__info
        .product-2__price
          span 70.000 ₫
          span.product-2__discount -30%
        .product-2__old-price 120.000đ
      a.product-2__add-cart(href="#!")
        i.fal.fa-fw.fa-lg.fa-shopping-cart

mixin news
  - count++
  .news
    a.news__frame(href="./news-detail.html")
      img(src=`./images/news-${count % 3 + 1}.jpg`, alt="")
    h3.news__title
      a(href="./news-detail.html") Worem ipsum dolor sit amet, conectetur adipiscing elit sit amet conectetur.
    .news__time
      i.fal.fa-clock.me-2.text-primary
      | 03/07/2022
    .news__desc Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero e

mixin news-2
  - count++
  .news.news--2
    .row.g-3.g-xl-20
      .col-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 3 + 1}.jpg`, alt="")
      .col
        h3.news__title.mt-0
          a(href="./news-detail.html") Worem ipsum dolor sit amet, conectetur adipiscing elit sit amet conectetur.
        .news__time
          i.fal.fa-clock.me-2.text-primary
          | 03/07/2022
        .news__desc Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero e

mixin news-3
  - count++
  .news.news--3
    a.news__frame(href="./news-detail.html")
      img(src=`./images/news-${count % 3 + 1}.jpg`, alt="")
    h3.news__title
      a(href="./news-detail.html") Worem ipsum dolor sit amet, conectetur adipiscing elit sit amet conectetur.
    .news__time
      i.fal.fa-clock.me-2.text-primary
      | 03/07/2022
    .news__desc Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero e

mixin news-4
  - count++
  .news.news--4
    .row.g-3.g-xl-20
      .col-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 3 + 1}.jpg`, alt="")
      .col
        h3.news__title.fw-700.mt-0
          a(href="./news-detail.html") Worem ipsum dolor sit amet, conectetur adipiscing elit sit amet conectetur.
        .news__time
          i.fal.fa-clock.me-2.text-primary
          | 03/07/2022

mixin news-5
  - count++
  .news.news--5
    a.news__frame(href="./news-detail.html")
      img(src=`./images/news-${count % 3 + 1}.jpg`, alt="")
    h3.news__title
      a(href="./news-detail.html") Worem ipsum dolor sit amet, conectetur adipiscing elit sit amet conectetur.

mixin card(img='', url='', addClass='')
  - count++
  - img = img ? img : `./images/card-${count % 4 + 1}.jpg`
  a.card(href="#!", class=addClass)
    img(src=img, alt="")

mixin card-square(url='#!', img="./images/card-2-1.jpg")
  - count++
  - img = img ? img : `./images/card-${count % 4 + 1}.jpg`
  a.card.card--square(href=url)
    img(src=img, alt="")

mixin card-2(img='./images/sidebar-card-1.png')
  a.card-2(href="#!")
    img(src=img, alt="")

mixin doc(number='01', id='#md-doc-1')
  .doc
    .row.g-3
      .col-auto
        .doc__number= number
      .col
        .row.g-3
          .col
            .doc__title
              a(href="#!", data-bs-toggle="modal", data-bs-target=id) Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh
          .col-sm-auto
            a.doc__btn(href="./images/sample.pdf" download)
              i.fas.fa-download.me-2
              | Tải về

mixin feedback
  .feedback
    .row.g-12
      .col-auto
        .feedback__avatar
          img(src="./images/avatar.jpg", alt="")
      .col
        .feedback__name Username
        .stars.stars--5
        .feedback__time 2021-05-12 09:01
        .feedback__content Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
        .feedback__images
          - for(let i = 0; i < 4; i++)
            a.feedback__image(href=`./images/feedback${i + 1}.jpg` data-fancybox="feedback")
              img(src=`./images/feedback${i + 1}.jpg`, alt="")
