mixin n-link(href='#!', addClass='')
  a.n-link(href=href, class=addClass)
    i.fal.fa-arrow-right

mixin news(img='./images/news-1.jpg')
  .news
    .row.g-0
      .col-md-auto
        a.news__frame(href="./news-detail.html")
          img(src=img, alt="")
      .col-md
        .news__body
          .news__info
            i.fal.fa-clock.me-2.text-primary
            span.me-2 03/07/2022
            a.text-uppercase.text-primary(href="#!") Tin tức Ecomviet
          h3.news__title
            a(href="./news-detail.html") Bình Định: Nâng cao giá trị các sản phẩm địa phương qua các sàn thương mại điện tử
      +n-link('./news-detail.html', 'news__link')

mixin news-2(img='./images/news-1.jpg', showInfo=false, linkClass='')
  .news-2
    a.news-2__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news-2__body
      if (showInfo)
        .news-2__info
          i.fal.fa-clock.me-1.text-primary
          span.me-1 03/07/2022
          a.text-uppercase.text-primary(href="#!") Tin tức Ecomviet
      h3.news-2__title
        a(href="./news-detail.html") Hội nghị tập huấn phổ biến kiến thức phát triển nguồn nhân lực thương mại điện tử năm 2022
      .news-2__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor illo similique, iste voluptatum necessitatibus labore ab dolores sapiente facere odit porro deleniti ea perferendis laborum quibusdam numquam, at cum.
      +n-link('./news-detail.html', 'news-2__link ' + linkClass)

mixin doc(id='01')
  .doc
    .row.gx-3.gy-0
      .col-sm-auto
        .doc__number= id
      .col
        a.doc__title(href=`#md-doc-${id}`, data-bs-toggle="modal")  Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh
      .col-sm-auto.ps-xl-40
        a.doc__btn(href="#!")
          i.fas.fa-fw.fa-download.me-2
          span Tải về
    +md-doc(id)

mixin product(img='', label='')
  .product
    .row.g-0
      .col-sm-6
        a.product__frame(href="./service-detail.html")
          img(src=img, alt="")
      .col-sm-6
        .product__body
          .product__label= label
          h3.product__name
            a(href="./service-detail.html") Thiết kế website  chuyên nghiệp
          +n-link('./service-detail.html', 'product__link')

mixin event(img='', time='10/2022')
  .event
    .row.gy-0.gx-20.gx-sm-30.gx-xl-50
      .col-auto
        .event__frame
          img(src=img, alt="")
      .col
        .event__time= time
        .event__desc Lễ ra mắt giải pháp hóa đơn thương mại điện tử
        .event__info
          i.fal.fa-fw.fa-map-marker-alt.me-2
          span Địa điểm: 25 Ngô Quyền
        .event__info
          i.fal.fa-fw.fa-clock.me-2
          span Thời gian: 9h00 ngày 02/09/2022

mixin event-2(img='', time='10/2022')
  .event.event--2
    .event__frame
      img(src=img, alt="")
    .event__time= time
    .event__desc Lễ ra mắt giải pháp hóa đơn thương mại điện tử
    .event__info
      i.fal.fa-fw.fa-map-marker-alt.me-2
      span Địa điểm: 25 Ngô Quyền
    .event__info
      i.fal.fa-fw.fa-clock.me-2
      span Thời gian: 9h00 ngày 02/09/2022
