mixin review
  .review
    div
      img.review__logo(src="./images/partner-1.png", alt="")
    .review__content Tôi đang gặp khó khăn trong việc tìm ra giải pháp truyền thông cho doanh nghiệp của mình, thật tuyệt vời khi tôi tìm thấy HMG. Hiện tại nhờ những giải pháp công nghệ, công ty tôi đã tăng trưởng gấp đôi doanh số chỉ trong 3 tháng. Thật là thần kỳ!
    .mt-auto
      .row.align-items-center.g-3.g-xxl-30
        .col-auto
          .review__avatar
            img(src="./images/avatar.jpg", alt="")
        .col
          .review__name Mr. Dinh Nhu Long
          .review__pos Designer

mixin service(url='#!')
  .service
    .service__frame
      img(src="./images/service-1.png", alt="")
    .service__background
      svg(viewBox="0 0 100 100")
        circle(cx="50" cy="50" r="50" fill="currentColor")
    .service__body
      .service__title
        if (block)
          block
        else
          | CÔNG NGHỆ VR 360
      a.service__link(href=url) Tìm hiểu thêm
        i.fal.fa-arrow-right.ms-2

mixin ecosystem(img='', desc='Đơn vị tổ chức sự kiện, các giải pháp Truyền thông & Marketing, Thiết kế sáng tạo')
  .ecosystem
    .ecosystem__frame
      img(src=img, alt="")
    .ecosystem__desc=desc

mixin product
  a.product(href="#!")
    .product__frame
      img(src="./images/product-1.jpg", alt="")
    .product__overlay
      .product__title Lorem ipsum simply free text dolor sited amet.

mixin research(icon='', title='')
  a.research(href="#!")
    .research__frame
      img(src="./images/vr-360.jpg", alt="")
    .research__overlay
      .research__title= title
    img.research__icon(src=icon, alt="")

mixin n-media(icon="./images/icon-globe-vr.svg", title='Thiết kế Web 360')
  .n-media
    .row.g-20.g-xxl-30
      .col-auto
        .n-media__icon
          img(src=icon, alt="")
      .col
        .n-media__title=title
        .n-media__desc Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Phasellus interdum nunc a viverra auctor.

mixin news
  .news
    a.news__frame(href="./news-detail.html")
      img(src="./images/news-1.jpg", alt="")
    .news__info
      a(href="./news-detail.html") Tin tức
      |&nbsp;|&nbsp;
      | 28.12.2022
    h3.news__title
      a(href="./news-detail.html") Lorem ipsum simply free text dolor sited amet cons cing elit.
    a.news__link(href="./news-detail.html") Đọc thêm
      i.fal.fa-arrow-right.ms-2

mixin news-2
  .news-2
    .row.g-3
      .col-auto
        a.news-2__frame(href="./news-detail.html")
          img(src="./images/post-img.jpg", alt="")
      .col
        h3.news-2__title
          a(href="./news-detail.html") ACG: Bổ sung CBTT về hồ sơ của chứng khoán mới niêm yết

mixin recruit(title='')
  .recruit
    .row.align-items-center
      .col-sm.mb-3.mb-sm-0
        h3.recruit__title
          a(href="./recruit-detail.html")= title
        .d-flex.flex-wrap.gap-2
          .recruit__info
            i.fas.fa-fw.fa-map-marker-alt.me-2
            | Hà Nội
          .recruit__info
            i.fas.fa-fw.fa-clock.me-2
            | Full-time
          .recruit__info
            i.fas.fa-fw.fa-usd-circle.me-2
            | Thỏa thuận

      .col-sm-auto
        a.n-btn(href="./recruit-detail.html") Xem chi tiết

mixin recruit-2(title='Account Manager')
  .recruit-2
    h3.recruit-2__title
      a(href="#!")= title
    .d-flex.flex-wrap
      .recruit-2__info
        i.fas.fa-fw.fa-map-marker-alt.me-2
        | Hà Nội
      .recruit-2__info
        i.fas.fa-fw.fa-clock.me-2
        | Full-time
