mixin link-2(url='./news-detail.html')
  a.n-link-2(href="./news-detail.html")
    | Chi tiết
    i.fal.fa-arrow-right.ms-2

mixin news(img='https://via.placeholder.com/1000', title='Quy định về quy tắc xuất xứ hàng hóa trong Hiệp định Thương mại tự do', addClass='news--1')
  .news(class=addClass)
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__body
      .news__info
        span.text-uppercase.text-primary.me-3 Tin tức
        span
          i.fal.fa-clock.me-1
          | 2/9/2022
      h3.news__title
        a(href="./news-detail.html")= title
      .news__desc Sáng ngày 11/11/2019, tại trụ sở Bộ Công Thương, Bộ trưởng Trần Tuấn Anh đã có buổi tiếp ông Kwon Pyung-oh-Chủ tịch Cơ quan xúc tiến Thương mại và Đầu tư Hàn quốc (KOTRA).
      .text-end
        +link-2

mixin news-2(img='https://via.placeholder.com/1000', title='Quy định về quy tắc xuất xứ hàng hóa trong Hiệp định Thương mại tự do')
  .news.news--2
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__body
      .news__info
        span.text-uppercase.text-primary.me-3 Tin tức
        span
          i.fal.fa-clock.me-1
          | 2/9/2022
      h3.news__title
        a(href="./news-detail.html")= title

mixin news-2-2(img='https://via.placeholder.com/1000', title='Cơ sở sản xuất dưa lưới Lộc Phúc', addClass='')
  .news.news--2(class=addClass)
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__body.news__body--no-border
      h3.news__title
        a(href="./news-detail.html")= title

mixin news-x2(title='Hướng dẫn quy định truy xuất nguồn gốc, thu hồi và xử lý...', url='./news-detail.html', addClass='')
  .news-2(class=addClass)
    h3.news-2__title
      a(href=url)= title
    .news-2__info
      i.fal.fa-clock.me-2
      | 2/9/2021

mixin news-3(img='https://via.placeholder.com/1000', title='Hệ thống QUẢN LÝ truy xuất nguồn gốc', addClass='')
  .news-3(class=addClass)
    a.news-3__frame(href="#!")
      img(src=img, alt="")
    .news-3__overlay
      h3.news-3__title
        a(href="#!")= title

mixin news-4(img='https://via.placeholder.com/1000', title='Hàn Quốc thúc đẩy giao thương trực tuyến tại Vietnam Expo 2021')
  .news-4
    .row.gx-4.gy-3
      .col-md-5
        a.news-4__frame(href="./news-detail.html")
          img(src=img, alt="")
      .col-md-7
        h3.news-4__title
          a(href="./news-detail.html")= title
        .news-4__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum
        +link-2

mixin news-4-2(img='./images/news-1.jpg')
  .news-4
    a.news-4__frame.mb-3.mb-xl-20(href="./news-detail.html")
      img(src=img, alt="")
    h3.news-4__title
      a(href="./news-detail.html") Hàn Quốc thúc đẩy giao thương trực tuyến tại Vietnam Expo 2021
    .news-4__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum
    +link-2

mixin news-5(img='./images/news-1.jpg', title='Vai trò ISO 22000 trong lĩnh vực thực phẩm')
  .news-5
    a.news-5__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news-5__info
      span.text-uppercase.text-primary.me-3 Tin tức
      span
        i.fal.fa-clock.me-1
        | 2/9/2022
    h3.news-5__title
      a(href="./news-detail.html")= title
    .news-5__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum aliquam sapien, ac placerat turpis accumsan vel.
    .text-end
      +link-2

mixin news-6(img='./images/news-1.jpg', title='Vai trò ISO 22000 trong lĩnh vực thực phẩm')
  .news-6
    .row.g-4
      .col-4
        a.news-6__frame(href="./news-detail.html")
          img(src=img, alt="")
      .col-8
        .news-6__info
          span
            i.fal.fa-clock.me-1
            | 2/9/2022
        h3.news-6__title
          a(href="./news-detail.html")= title

mixin source(img='https://via.placeholder.com/1000', url='./product-detail.html', addClass='')
  .source(class=addClass)
    a.source__frame(href=url)
      img.source__img(src=img, alt="")
      img.source__qrcode(src="./images/qrcode.png", alt="")
    h3.source__title
      a(href=url) Tiêu đen đóng lọ
      i.fal.fa-arrow-right
    .source__info CSSX: Phạm Thị Vân - Thôn Hương Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corporis nulla ipsum atque
    .source__price Giá tham khảo:
      br
      strong.fw-600 560.000đ

mixin video(img='https://via.placeholder.com/1000')
  .video
    .video__frame
      img(src=img, alt="")
    a.video__overlay(href="https://www.youtube.com/watch?v=3OHIhSVwM0E", data-fancybox="video")
      i.fal.fa-3x.fa-play-circle

mixin product(img='./images/product-1.jpg', title='Sản phẩm 01', addClass='')
  .product(class=addClass)
    a.product__frame(href="./product-detail.html")
      img.product__img(src=img, alt="")
      img.product__qr(src="./images/qrcode.png", alt="")
    h3.product__title
      a(href="./product-detail.html")= title
    .product__info CSSX: Phạm Thị vân - thôn hướng giang xã lộc yên huyện hương khê
    .product__price Giá tham khảo
      br
      strong 560.000đ

mixin product-2(img='./images/product-1.jpg', title='Sản phẩm 01')
  .product-2
    a.product-2__frame(href="./product-detail.html")
      img.product-2__img(src=img, alt="")
      img.product-2__qr(src="./images/qrcode.png", alt="")
    h3.product-2__title
      a(href="./product-detail.html")= title
      i.fal.fa-arrow-right
    .product-2__info CSSX: Phạm Thị vân - thôn hướng giang xã lộc yên huyện hương khê
    .product-2__price Giá tham khảo
      br
      strong 560.000đ

mixin history
  .history
    .row
      .col-lg-auto
        .history__time
          span 9/9/2022
          span 17h:00
          span 17h:00
      .col-md-auto.mb-3.mb-md-0
        .history__frame
          img(src="./images/history-1.jpg", alt="")
      .col-md
        h3.history__title Vận chuyên lô hàng bưởi Phúc Trạch
        .history__desc Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa. Aliquam dictum aliquam sapien, ac placerat turpis accumsan vel. Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa Cras eu elit dictum, vestibulum orci in, commodo nulla. Maecenas ac pellentesque massa.

mixin member(img='./images/member-1.jpg', title='', url='')
  .member
    a.member__frame(href="#!")
      img(src=img, alt="")
    h3.member__title Nguyễn Mạnh Đoàn
    .member__info Mã số: 123456

mixin media(img='', title = '', url='')
  .media
    .media__frame
      img(src=img, alt="")
      if (url)
        a.media__overlay(href=url, data-fancybox='video')
          i.fal.fa-play-circle

    .media__title= title
