- count = 1

mixin feedback
  .feedback
    .row.g-12
      .col-auto
        .feedback__avatar
          img(src="./images/avatar.png", alt="")
      .col
        .feedback__name Username
        .stars.stars--5
        .feedback__time 2021-05-12 09:01
        .feedback__content Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
        .feedback__images
          - for(let i = 0; i < 4; i++)
            a.feedback__image(href=`./images/feedback${i + 1}.jpg` data-fancybox="feedback")
              img(src=`./images/feedback${i + 1}.jpg`, alt="")

mixin market
  .market
    a.market__frame(href="#!")
      img(src="https://placehold.jp/300x200.png", alt="")
    h3.market__title
      a(href="#!") Sàn TMĐT Tỉnh Cao Bằng

mixin od-grid
  section.section
    .container
      .od-grid
        .od-grid__aside.floating-container
          .od-grid__aside-content.floating
            +od-user
            +od-menu('mt-4')

        .od-grid__main
          if (block)
            block

mixin od-user
  .od-user
    .od-user__avatar
      img(src="./images/avatar.png", alt="")
    .od-user__info
      .od-user__name admin_sanviet
      a.od-user__btn(href="./profile.html") Sửa hồ sơ
    button.od-user__toggle(type="button")
      i.fal.fa-caret-right

mixin od-menu(className="")
  nav.od-menu(class=className)
    .od-menu__item
      a.od-menu__link(href="#!")
        i.fal.fa-fw.fa-user
        span Tài khoản của tôi
      ul.od-menu__submenu
        li
          a(href="./profile.html") Hồ sơ
        li
          a(href="./profile-change-password.html") Đổi mật khẩu
        li
          a(href="./profile-place.html") Điểm nhận hàng
    .od-menu__item
      a.od-menu__link.active(href="./order.html")
        i.fal.fa-fw.fa-shopping-cart(style="color: #6BB13E; background-color: #E8EEE7;")
        span Đơn hàng
    .od-menu__item
      a.od-menu__link(href="./feedback.html")
        i.fal.fa-fw.fa-comment-alt-dots(style="color: #FF6C2D; background-color: #F5E7E5;")
        span Quản lý nhận xét

mixin od-nav(id=1)
  nav.od-nav
    a.od-nav__item(href="./order.html", class=id==1?'active':'')
      +svg-icon('icon-task-queue', '0 0 18 19')
      span Tất cả
    a.od-nav__item(href="#!", class=id==2?'active':'')
      +svg-icon('icon-clock', '0 0 18 19')
      span Chờ lấy hàng
    a.od-nav__item(href="#!", class=id==3?'active':'')
      +svg-icon('icon-truck', '0 0 17 17')
      span Đang giao hàng
    a.od-nav__item(href="./order-completed.html", class=id==4?'active':'')
      +svg-icon('icon-tick-circle', '0 0 17 17')
      span Hoàn thành
    a.od-nav__item(href="#!", class=id==5?'active':'')
      +svg-icon('icon-undo', '0 0 18 15')
      span Trả hàng
    a.od-nav__item(href="#!", class=id==6?'active':'')
      +svg-icon('icon-tag-cross', '0 0 18 15')
      span Huỷ hàng

mixin od-nav-2(id=1)
  nav.od-nav.od-nav--2
    a.od-nav__item(href="./feedback.html", class=id==1?'active':'')
      +svg-icon('icon-task-queue', '0 0 18 19')
      span Chưa viết đánh giá
    a.od-nav__item(href="./feedback-history.html", class=id==2?'active':'')
      +svg-icon('icon-clock', '0 0 18 19')
      span Lịch sử đánh giá

mixin od-item
  .od-item
    a.od-item__frame(href="#!")
      img(src="./images/order-item-img.jpg", alt="")
    .od-item__info
      div
        a(href="#!")
          strong Chao môn ngon Hưng Phát size nhỏ 200g
      div x2
    .od-item__price 70.000 ₫

mixin od-section(badge='Hoàn thành', badgeClass='text-success bg-success-light', btn='Xem đánh giá', btnClass='btn-outline', note='Ghi chú: Ship hàng vào giờ hành chính', btnLink='#!', shopText='Sàn Long An', shopClass='text-secondary border-secondary')
  section.od-section.mt-4(data-id="10")
    .od-section__header
      .od-section__icon
        i.fal.fa-fw.fal-lg.fa-store
      .od-section__title-wrap
        h2.od-section__title
          a.od-section__title-link(href="./order-detail.html") Cơ sở sản xuất miến dong Chiến Thọ
          a.badge(href="#!", class=shopClass)= shopText
      .od-section__badge
        span.badge.ms-auto(class=badgeClass)=badge

    .od-section__body
      - for(let i = 0; i < 2; i++)
        +od-item

    .od-section__footer
      .od-section__btns
        a.btn.px-30(href=btnLink, class=btnClass)= btn
      .text-sm-end
        span.me-3 Tổng số tiền (2 sản phẩm):
        strong 140.000 ₫
        if (note)
          .od-section__note
            i.fal.fa-fw.fa-clipboard-list.me-2.text-primary
            i= note

mixin od-summary(className='')
  section.od-section(class=className)
    .od-section__body
      .row.justify-content-between.gx-3
        .col-auto Tổng số tiền (2 sản phẩm):
        .col-auto.text-end 450.000 ₫

      .row.justify-content-between.gx-3.mt-3
        .col-auto Tổng giảm
        .col-auto.text-end -245.000 ₫

      .row.justify-content-between.gx-3.mt-3
        .col-auto
          div Tổng thanh toán
          div (2 sản phẩm):
        .col-auto.text-end
          .fs-24.text-primary.fw-600(style="line-height: 1.2") 280.000 ₫
          div Tiết kiệm 165.000đ

      .border-top.mt-3

      .row.justify-content-between.gx-3.mt-3.align-items-center
        .col-auto Phương thức thanh toán
        .col-auto.text-end.ms-auto
          select.form-select
            option Thanh toán COD
            option Thanh toán COD
            option Thanh toán COD
            option Thanh toán COD

      .row.justify-content-between.gx-3.mt-3.align-items-center
        .col-auto Trạng thái thanh toán
        .col-auto.text-end
          span.badge.text-primary.bg-primary-light Chưa thanh toán

mixin od-cancel-detail(badge='Đang giao hàng', badgeClass='text-secondary bg-secondary-light')
  section.od-section.mt-3
    .od-section__header
      .od-section__icon
        i.fal.fa-fw.fal-lg.fa-store

      .od-section__title-wrap
        h2.od-section__title
          a.me-3(href="./order-detail.html") Cơ sở sản xuất miến dong Chiến Thọ
          a.badge.text-secondary.border-secondary(href="#!") Sàn Long An

        .od-section__infos
          a.od-section__info(href="mailto:daotao@ecomviet.vn")
            i.fal.fa-fw.fa-envelope.me-2
            span daotao@ecomviet.vn
          a.od-section__info(href="tel:024 2220 5365")
            i.fal.fa-fw.fa-phone.me-2
            span 024 2220 5365
          .od-section__info
            i.fal.fa-fw.fa-map-marker-alt.me-2
            span 25 Ngô Quyền - Quận Hoàn Kiếm - Hà Nội

      .od-section__badge
        span.badge.ms-auto(class=badgeClass)=badge

    .od-section__body
      - for(let i = 0; i < 6; i++)
        +od-item

  +od-summary('mt-3')

mixin media-uploader
  .media-uploader.js-media-uploader
    .media-uploader__list.js-media-uploader-list
      .media-uploader__item
        label.media-uploader__label
          input.js-media-image-input(type="file", multiple, accept="image/*")
          i.fal.fa-fa.fa-lg.fa-camera
          span Thêm hình ảnh
      .media-uploader__item
        label.media-uploader__label
          input.js-media-video-input(type="file", multiple, accept="video/*")
          i.fal.fa-fa.fa-lg.fa-video
          span Thêm video

mixin pf-place(className='')
  .pf-place(class=className)
    .row.g-3.justify-content-between
      .col-auto
        .mb-1 #[strong Hà Thu]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#[a(href="tel: 024 2220 5365") 024 2220 5365]
        div 72 trúc khê
          br
          | Phường Kim Giang, Quận Thanh Xuân, Hà Nội
      .col-auto
        .d-flex.flex-wrap.gap-2
          a.btn.btn-sm.btn-outline(href="./profile-place-edit.html") Sửa
          a.btn.btn-sm.btn-outline(href="#!") Xóa
          a.btn.btn-sm.btn-outline(href="#!") Đặt làm mặc định

mixin pf-place-default(className='')
  .pf-place(class=className)
    .row.g-3.justify-content-between
      .col-auto
        .mb-1 #[strong Lê Chí Mạnh]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#[a(href="tel: 024 2220 5365") 024 2220 5365]
        div 6 Lê Văn Thiêm
          br
          | Quận Thanh Xuân, Hà Nội
        .mt-1
          span.badge.text-primary.bg-primary-light.border.border-primary.rounded Mặc định
      .col-auto
        .d-flex.flex-wrap.gap-2
          a.btn.btn-sm.btn-outline(href="./profile-place-edit.html") Sửa

mixin feedback-history
  .feedback-history
    .od-item
      a.od-item__frame(href="#!")
        img(src="./images/order-item-img.jpg", alt="")
      .od-item__info.align-self-start
        a(href="#!")
          strong Chao môn ngon Hưng Phát size nhỏ 200g
    +feedback
