- count = 1
mixin news(img='./news-1.jpg')
  - count++
  .news.news--1
    .row.g-3.g-md-20.g-xl-30
      .col-sm-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
      .col-sm
        h3.news__title
          a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
        .news__info
          i.fal.fa-clock.text-primary.me-2
          | 03/07/2022
        .news__desc Với mong muốn mang lại cho khách hàng những trải nghiệm tốt nhất, Vietlife không ngừng đẩy mạnh chương trình đào tạo nâng cao trải nghiệm khách ...

mixin news-2(img='./news-1.jpg')
  - count++
  .news.news--2
    a.news__frame(href="./news-detail.html")
      img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
    h3.news__title
      a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
    .news__info
      i.fal.fa-clock.text-primary.me-2
      | 03/07/2022
    .news__desc Với mong muốn mang lại cho khách hàng những trải nghiệm tốt nhất, Vietlife không ngừng đẩy mạnh chương trình đào tạo nâng cao trải nghiệm khách ...

mixin news-3(img='./news-1.jpg')
  - count++
  .news.news--3
    .row.g-3
      .col-auto
        a.news__frame(href="./news-detail.html")
          img(src=`./images/news-${count % 9 + 1}.jpg`, alt="")
      .col
        h3.news__title
          a(href="./news-detail.html") Jorem ipsum dolor sit amet, consectetur adipiscing elit.
        .news__info
          i.fal.fa-clock.text-primary.me-2
          | 03/07/2022

mixin doc(number='01', id='#md-doc-1')
  .doc
    .row.g-3
      .col-auto
        .doc__number= number
      .col
        .row.g-3
          .col
            .doc__title
              a(href="#!", data-bs-toggle="modal", data-bs-target=id) Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh
          .col-sm-auto
            a.doc__btn(href="./images/sample.pdf" download)
              i.fas.fa-download.me-2
              | Tải về

mixin product(addClass='')
  - count++
  .product(class=addClass)
    a.product__frame(href="./product-detail.html")
      img(src=`./images/product-${count % 6 + 1}.jpg`, alt="")
    .product__saleoff
      span 30%
      span.text-white GIẢM
    .product__body
      .product__brands
        img.product__brand.ocop(src="./images/brand-1.png", alt="")
        img.product__brand.spcnnttb(src="./images/brand-2.png", alt="")
      h3.product__title
        a(href="./product-detail.html") Cao cà gai leo Thanh Bình
      .product__price 90.000 ₫
      .product__old-price 120.000đ
      .product__stars
        span.stars.stars--5
        span (23)
      .product__location
        i.fal.fa-map-marker-alt.me-2
        | Thành phố Hà Nội

mixin product-2(img='', title='Chương trình khuyến mại...')
  .product-2
    a.product-2__frame(href="#!")
      img(src=img, alt="")
    h3.product-2__title
      a(href="#!")= title

mixin product-3
  - count++
  a.product-3(href="#!")
    .product-3__frame
      img(src=`./images/product-${count % 6 + 1}.jpg`, alt="")
    h2.product-3__title Đặc sản Yên Bái

mixin branding
  - count++
  .branding
    a.branding__frame(href="#!")
      img(src=`./images/cat-${count % 8 + 1}.jpg`, alt="")

mixin cate(img='', title='')
 a.cate(href="#!")
  .cate__frame
    img(src=img, alt="")
  .cate__title
    if (title)
      = title
    else
      block

mixin card(img='')
  - count++
  - img = img ? img : `./images/card-${count % 4 + 1}.jpg`
  a.card(href="#!")
    img(src=img, alt="")

mixin feedback
  .feedback
    .row.g-12
      .col-auto
        .feedback__avatar
          img(src="./images/avatar.png", alt="")
      .col
        .feedback__name Username
        .stars.stars--5
        .feedback__time 2021-05-12 09:01
        .feedback__content Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
        .feedback__images
          - for(let i = 0; i < 4; i++)
            a.feedback__image(href=`./images/feedback${i + 1}.jpg` data-fancybox="feedback")
              img(src=`./images/feedback${i + 1}.jpg`, alt="")

mixin market
  .market
    a.market__frame(href="#!")
      img(src="https://placehold.jp/300x200.png", alt="")
    h3.market__title
      a(href="#!") Sàn TMĐT Tỉnh Cao Bằng
