mixin cate(img='./images/cate-1.svg', title='Rau củ')
  .cate
    .cate__body
      .cate__frame
        img(src=img, alt="")
      .cate__title= title
    a.cate__link(href="#!")

mixin product(img='./images/product-1.jpg', title='Ba chỉ bò Mỹ')
  .product
    a.product__frame(href="./product-detail.html")
      img(src=img, alt="")
    .product__body
      h3.product__title
        a(href="#!")= title
      .product__price 100.000 - 200.000đ
        span.product__unit /kg
      .product__note Tối thiểu 100kg
      a.button.button--outline(href="#!")
        i.fal.fa-paper-plane.me-2
        | Yêu cầu báo giá

mixin product-2(img='./images/product-1.jpg', title='Cần mua 2 tấn ba chỉ bò')
  .product-2
    .row.g-3
      .col-lg-auto
        a.product-2__frame(href="./product-detail.html")
          img(src=img, alt="")
      .col-lg
        .product-2__body
          .product-2__from.mb-1 Công ty TNHH Muối Thương mại Gia Thịnh
          h3.product-2__title
            a(href="./product-detail.html")= title
          .product-2__desc Currently, our company are interested to purchase a wide range of pharmaceutical products
          .mt-3
            a.button.button--outline(href="./product-detail.html")
              i.fal.fa-paper-plane.me-2
              | Báo giá ngay

mixin card-1(img="./images/card-1.jpg")
  a.card-1(href="#!")
    img(src=img, alt="")

mixin business(img='./images/business-1.jpg', title='Hộ Kinh Doanh Lê Thanh Sơn')
  .business
    .business__frame-wrap
      a.business__frame(href="#!")
        img(src=img, alt="")
    .business__body
      h3.business__title= title
      .text-center
        a.button.button--outline.py-1(href="#!") Chi tiết

mixin news(img='./images/news-1.jpg', title='News title')
  .news
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__body
      h3.news__title
        a(href="./news-detail.html")= title

mixin news--lg(img='./images/news-1.jpg', title='News title')
  .news
    a.news__frame(href="./news-detail.html")
      img(src=img, alt="")
    .news__body
      h3.news__title
        a(href="./news-detail.html")= title
      .news__time
        i.fal.fa-clock.me-2
        | 03/07/2022
      .news__desc Morem ipsum dolor sit amet, consectetur adipiscing elit. Morem ipsum dolor sit amet, consectetur adipiscing elit. Morem ipsum dolor sit amet, consectetur adipiscing elit. Morem ipsum dolor sit am Morem ipsum dolor sit amet
