include ../navbar/navbar
include ../menu/menu

mixin header-4
  header.header
    .toppage
      .container
        .toppage__inner
          .toppage__title.d-none.d-lg-block Sàn thương mại điện tử Hợp nhất
          nav.toppage__nav
            a(href="#!") Trang chủ
            a(href="#!") Giới thiệu
            a.me-lg-50(href="#!") Liên hệ
            a.ms-auto.ms-lg-0(href="#!")
              i.fal.fa-sign-in.me-2.text-info
              | Đăng nhập
            a(href="#!")
              i.fal.fa-user-plus.me-2.text-info
              | Đăng ký

    .header__wrapper
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo-4.svg", alt="")

          .header__elements

            button.search-btn.ms-10.d-xl-none(type="button")
              i.fal.fa-search

            .h-4-info
              a.h-4-info__item(href="#!")
                .h-4-info__icon
                  i.fal.fa-fw.fa-shopping-cart
                .h-4-info__content
                  .h-4-info__title Giỏ hàng
                  div (0) Sản phẩm

              a.h-4-info__item(href="#!")
                .h-4-info__icon
                  i.fal.fa-fw.fa-user-plus
                .h-4-info__content
                  .h-4-info__title Kênh người bán
                  div Đăng ký tại đây

            button.btn-toggle.text-white.d-xl-none.js-navbar-toggle.ms-12(type="button")

            +search-4

    nav.navigation
      .container
        .navigation__inner
          +navbar('./images/logo-4.svg')
            nav.menu-nav
              .menu-product-wrapper
                .menu-nav__title
                  i.fal.fa-fw.fa-bars.me-2
                  | Danh mục

                ul.menu.menu-product
                  each item, index in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang nữ','Thời trang nam','Vật tư nông nghiệp','Thiết bị điện tử','Gia dụng – Đời sống','Siêu thị – Tạp hoá','Thời trang trẻ em','Sức khoẻ – Làm đẹp','Thể thao – Du lịch']
                    li.menu-item.menu-item-group
                      a.menu-link(href="#!")
                        img(src=`./images/menu-icon-${index + 1}.png`, alt="")
                        = item
                      span.menu-toggle
                      ul.menu.menu-sub(data-title=item)
                        each item2 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                          li.menu-item
                            a.menu-link(href="#!")= item2

              ul.menu.menu-root
                each item in ['Sản phẩm OCOP', 'Sản phẩm HOT', 'Sản phẩm khác']
                    li.menu-item.menu-item-group
                      a.menu-link(href="#!")= item
                      span.menu-toggle
                      ul.menu.menu-sub(data-title=item)
                        each item2 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                          li.menu-item.menu-item-group
                            a.menu-link(href="#!")= item2
                            span.menu-toggle
                            ul.menu.menu-sub.menu-sub-2(data-title=item2)
                              each item3 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                                li.menu-item
                                  a.menu-link(href="#!")= item3
