include ../menu/menu

mixin navigation(logo)
  nav.navigation
    .navigation__wrapper
      .container
        .navigation__inner
          +navbar(logo)
            nav.menu-nav
              .menu-product-wrapper
                .menu-nav__title
                  i.fal.fa-fw.fa-bars.me-2
                  | Danh mục

                .menu-nav__dropdown
                  ul.menu.menu-product
                    each item, index in [{title: 'Sản phẩm OCOP',icon: 'fas fa-fw fa-salad'},{title: 'Đặc sản vùng miền',icon: 'fal fa-fw fa-glass-martini-alt'},{title: 'Thời trang nữ',icon: 'fal fa-fw fa-clock'},{title: 'Thời trang nam',icon: 'fas fa-fw fa-tshirt'},{title: 'Vật tư nông nghiệp',icon: 'fas fa-fw fa-fish'},{title: 'Thiết bị điện tử',icon: 'fal fa-fw fa-gift'},{title: 'Gia dụng – Đời sống',icon: 'fas fa-fw fa-cow'},{title: 'Siêu thị – Tạp hoá',icon: 'fal fa-fw fa-clock'},{title: 'Thời trang trẻ em',icon: 'fas fa-fw fa-cassette-tape'},{title: 'Sức khoẻ – Làm đẹp',icon: 'fas fa-fw fa-cassette-tape'},{title: 'Thể thao – Du lịch',icon: 'fas fa-fw fa-tshirt'}]
                      li.menu-item.menu-item-group
                        a.menu-link(href="#!")
                          i.me-2(class=item.icon)
                          //- img(src=`./images/menu-icon-${index + 1}.png`, alt="")
                          = item.title
                        span.menu-toggle
                        ul.menu.menu-sub(data-title=item.title)
                          each item2 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                            li.menu-item
                              a.menu-link(href="#!")= item2

                  .menu-nav__slider
                    +card-slider-3

              ul.menu.menu-root
                each item in ['Sản phẩm OCOP', 'Sản phẩm HOT', 'Sản phẩm khác']
                    li.menu-item.menu-item-group
                      a.menu-link(href="#!")= item
                      span.menu-toggle
                      ul.menu.menu-sub(data-title=item)
                        each item2 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                          li.menu-item.menu-item-group
                            a.menu-link(href="#!")= item2
                            span.menu-toggle
                            ul.menu.menu-sub.menu-sub-2(data-title=item2)
                              each item3 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                                li.menu-item
                                  a.menu-link(href="#!")= item3
