mixin img(type = 'any', w = 600, h = 400, addClass='')
  - i = Math.floor(Math.random() * 89 + 10)
  if (type === 'avatar')
    img(src=`https://pavatar.qom.vn/${w + i}`, alt="", class = addClass)
  else
    img(src=`https://placeimg.qom.vn/${w + i}/${h + i}/${type}`, alt="", class = addClass)

mixin breadcrumb(...list)
  - var lastItem = list.pop()
  ol.breadcrumb.breadcrumb--white.mb-0
    each item in list
      li.breadcrumb-item
        a.link-unstyled(href="#!")= item
    li.breadcrumb-item.active= lastItem

mixin pagination
  ul.pagination
    li.page-item.disabled
      a.page-link(href="#!")
        i.fal.fa-lg.fa-angle-double-left
    li.page-item.disabled
      a.page-link(href="#!")
        i.fal.fa-lg.fa-angle-left
    li.page-item.active
      a.page-link(href="#!") 01
    li.page-item
      a.page-link(href="#!") 02
    li.page-item
      a.page-link(href="#!") 03
    li.page-item
      a.page-link(href="#!") ...
    li.page-item
      a.page-link(href="#!") 10
    li.page-item
      a.page-link(href="#!") 11
    li.page-item
      a.page-link(href="#!") 12
    li.page-item
      a.page-link(href="#!") 13
    li.page-item
      a.page-link(href="#!")
        i.fal.fa-lg.fa-angle-right
    li.page-item
      a.page-link(href="#!")
        i.fal.fa-lg.fa-angle-double-right

mixin search
  form.search.input-group
    input.form-control(type='text', placeholder='Tìm kiếm...')
    button.input-group-text
      i.far.fa-search
    button.input-group-text.js-search-close(type="button")
      i.fal.fa-times
