mixin img(type = 'any', w = 600, h = 400, addClass='')
  - i = Math.floor(Math.random() * 89 + 10)
  if (type === 'avatar')
    img(src=`https://pavatar.qom.vn/${w + i}`, alt="", class = addClass)
  else
    img(src=`https://placeimg.qom.vn/${w + i}/${h + i}/${type}`, alt="", class = addClass)

mixin breadcrumb(...list)
  - var lastItem = list.pop()
  ol.breadcrumb.breadcrumb--white.mb-0
    each item in list
      li.breadcrumb-item
        a.link-unstyled(href="#!")= item
    li.breadcrumb-item.active
      span= lastItem

mixin pagination
  ul.pagination
    li.page-item.disabled.me-auto
      a.page-link.text-primary.font-size-base(href="#!")
        i.fas.fa-arrow-left
        span.d-none.d-md-inline.ms-2 Trang trước
    li.page-item.active
      a.page-link(href="#!") 1
    li.page-item
      a.page-link(href="#!") 2
    li.page-item
      a.page-link(href="#!") 3
    li.page-item
      a.page-link(href="#!") 4
    li.page-item
      a.page-link(href="#!") 5
    li.page-item.ms-auto
      a.page-link.text-primary.font-size-base(href="#!")
        span.d-none.d-md-inline.me-2 Trang sau
        i.fas.fa-arrow-right

mixin search
  form.search
    .input-group
      input.form-control(type='text', placeholder='Tìm kiếm...')
      button.input-group-text(type="submit")
        i.far.fa-search
      button.input-group-text.search__close(type="button")
        i.fal.fa-times
